body {
    background-color: #f8f9fa;
    width: 98%;
    margin: auto;
    }
  .login-container {
    max-width: 400px;
    margin: 50px auto;
  }
  .hero-section {
    min-height: auto;
    min-width: 90vw;
    background-size: 100% 100%;
    width: 100%;
    background-image: url(images/background.webp);
    background-position: center;
    opacity: 1;
    position: relative;
    background-repeat: no-repeat;
    color: #fff;
    padding: 100px 0;
  }
  .feature-card {
    transition: transform 0.3s ease;
  }
  .feature-card:hover {
    transform: scale(1.05);
  }
 